defaults: &defaults
  docker:
    - image: circleci/node:10-browsers
      environment:
        JOBS: 2
  working_directory: ~/repo

version: 2
jobs:
  checkout_code:
    <<: *defaults
    steps:
      - checkout
      - persist_to_workspace:
          root: .
          paths:
            - .
  install_dependencies:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - v1-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
            - v1-deps-{{ .Branch }}-
            - v1-deps-
      - run:
          name: Yarn Install
          command: yarn install --non-interactive
      - save_cache:
          key: v1-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}
          paths:
            - ./node_modules
      - persist_to_workspace:
          root: .
          paths:
            - .
  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Lint JS
          command: yarn run lint:js
      - run:
          name: Lint HBS
          command: yarn run lint:hbs

  test_lts_3_1:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-lts-3.1 --skip-cleanup=true

  test_lts_3_4:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-lts-3.4 --skip-cleanup=true

  test_lts_3_8:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-lts-3.8 --skip-cleanup=true

  test_lts_3_12:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-lts-3.12 --skip-cleanup=true

  test_3_13:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-3.13 --skip-cleanup=true
  test_3_14:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-3.14 --skip-cleanup=true
  test_3_15:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-3.15 --skip-cleanup=true

  test_lts_3_16:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-lts-3.16 --skip-cleanup=true

  test_release:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-release --skip-cleanup=true

  test_beta:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-beta --skip-cleanup=true

  test_canary:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-canary --skip-cleanup=true

  test_default:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember test

  test_default_with_jquery:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-default-with-jquery --skip-cleanup=true

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - checkout_code
      - install_dependencies:
          requires:
            - checkout_code
      - lint:
          requires:
            - install_dependencies
      #- test_lts_3_1:
      #    requires:
      #      - install_dependencies
      #- test_lts_3_4:
      #    requires:
      #      - install_dependencies
      #- test_lts_3_8:
      #    requires:
      #      - install_dependencies
      - test_lts_3_12:
          requires:
            - install_dependencies
      - test_lts_3_13:
          requires:
            - install_dependencies
      - test_lts_3_14:
          requires:
            - install_dependencies
      - test_lts_3_15:
          requires:
            - install_dependencies
      - test_lts_3_16:
          requires:
            - install_dependencies
      #- test_release:
      #    requires:
      #      - install_dependencies
      #- test_beta:
      #    requires:
      #      - install_dependencies
      #- test_canary:
      #    requires:
      #      - install_dependencies
      #- test_default:
      #    requires:
      #      - install_dependencies
      #- test_default_with_jquery:
      #    requires:
      #      - install_dependencies
