/**
 * EmberPrintablePages | MIT License | github.com/forge512/ember-printable-pages
 * ======================================+++====================================
 **/
/* purgecss start ignore */
.PrintablePages-pageLayout {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 0;
}
.PrintablePages-pageContainer {
  background-color: #fff;
  /* this provides separation between pages for screen */
  margin-bottom: 16px;
}

@media print {
}

.PrintablePages-pageBody {
  overflow: hidden;
}
.PrintablePages-pageFooter {
}
.PrintablePages-chapter {
}
.PrintablePages-chapterPage {
  min-height: 100%;
  height: 100%;
}
.PrintablePages-section {
}
.PrintablePages-sectionItem {
  break-inside: avoid;
  page-break-inside: avoid;
}

/* Utility Classes */
.u-page-break-after,
.u-page-break-before {
  display: block;
  border: none;
  margin: 0;
}
.u-page-break-before {
  page-break-before: always;
}
.u-page-break-after {
  page-break-after: always;
}
.u-column-break-inside-avoid {
  break-inside: avoid-column;
}

/* Debug mode classes */
.debug-page {
  border: 3px dotted #455a64; /* blue-grey darken-4 */
}
.debug-pageBody {
  border: 3px dotted #ef6c00; /* orange darken-3 */
}

@media print {
  .PrintablePages {
    background: transparent;
    padding: 0;
    margin: 0;
  }

  .PrintablePages-pageLayout {
    display: block !important;
  }

  .PrintablePages-pageContainer {
    padding: 0;
    /* remove the visual separation between pages when printing */
    margin-bottom: 0;
  }

  .PrintablePages-page {
    background: transparent;
    padding: 0;
    margin: 0;
  }

  section.PrintablePages-page[style] {
    margin-top: 0 !important;
    margin-right: auto !important;
    margin-bottom: 0 !important;
    margin-left: auto !important;
  }

  .no-print {
    display: none !important;
  }
}
/* purgecss end ignore */
