/**
 * EmberPrintablePages | MIT License | github.com/forge512/ember-printable-pages
 * ======================================+++====================================
 **/
.PrintablePages-pageLayout {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 0;
}
.PrintablePages-pageContainer {
  background-color: #fff;
  padding: 0.5in;
  margin-bottom: 16px;
}
@media print {
  .PrintablePages-pageLayout {
    display: block !important;
  }
  .PrintablePages-pageContainer {
    padding: 0;
    margin-bottom: 0;
  }
  @page {
    margin: 0.6in;
  }
}
.PrintablePages-page {
}
.PrintablePages-pageHeader {
}
.PrintablePages-pageBody {
  overflow: hidden;
}
.PrintablePages-pageFooter {
}
.PrintablePages-chapter {
}
.PrintablePages-chapterPage {
  min-height: 100%;
  height: 100%;
}
.PrintablePages-section {
}
.PrintablePages-sectionItem {
  break-inside: avoid;
  page-break-inside: avoid;
}

/* Utility Classes */
.u-page-break-after,
.u-page-break-before {
  display: block;
  border: none;
  margin: 0;
}
.u-page-break-before {
  page-break-before: always;
}
.u-page-break-after {
  page-break-after: always;
}
.u-column-break-inside-avoid {
  break-inside: avoid-column;
}

/* Debug mode classes */
.debug-page {
  border: 3px dotted #455a64; /* blue-grey darken-4 */
}
.debug-pageBody {
  border: 3px dotted #ef6c00; /* orange darken-3 */
}

@media print {
  .PrintablePages {
    background: transparent;
    padding: 0;
    margin: 0;
  }
  .PrintablePages-page {
    background: transparent;
    padding: 0;
    margin: 0;
    /*
     * add 0.25in bonus height when printing to ensure the
     * slight size changes made in print doesn't cause loss of data
     * NOTE Not sure why we need this
    /* height: 10in; */
  }

  .no-print {
    display: none !important;
  }
}
