{{#printable-pages/page-layout pageLayout=pageLayout}}
  <div class="PrintablePages-titlePage">
    {{yield (hash
      pageMeta=(hash
        total=pageCount
      )
    )}}
  </div>
{{/printable-pages/page-layout}}
