.PrintablePages {
  background-color: #263238;
  margin: 0;
  padding-top: 16px;
}

.PrintablePages-section {
  column-fill: balance;
  column-gap: 24px;
  column-rule: 1px solid rgba(0, 0, 0, 0.12);
}

.PrintablePages-titlePage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 100%;
}

.TitlePage-hero {
  background: #607d8b;
  color: #fff;
  text-align: center;
  padding: 1in;
}

@media print {
  .print-display-none {
    display: none;
  }
  .PrintablePages {
    padding-top: 0;
  }
  .docs-mt-1,
  body > .ember-view {
    margin-top: 0;
  }
}
