@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1 {
  @apply text-2xl;
  @apply mb-4;
  @apply font-medium;
}
h2 {
  @apply text-xl;
  @apply mb-4;
}
h3 {
  @apply text-lg;
  @apply mb-2;
}
h4 {
  @apply font-bold;
}
p {
  @apply mb-4;
}
a {
  @apply text-blue-600 underline;
}

ul.styled-list {
  list-style-type: disc;
  list-style-position: inside;
}

body.is-test {
  background-color: #d2e0e6 !important;
}

/* purgecss start ignore */
.PrintablePages {
  background-color: #263238;
}

.PrintablePages-section {
  column-gap: 24px;
  column-rule: 1px solid rgba(0, 0, 0, 0.12);
}

@media print {
  body > .ember-view {
    margin-top: 0;
  }
  body > div.ember-view > div.h-screen > header {
    display: none;
  }
}
/* purgecss end ignore */
