<div class="PrintablePages-toc" data-test-toc>
  {{yield
    (hash
      layout=(component
        "printable-pages/chapter"
        isToc=true
        chapters=@chapters
        lastReportPage=@lastReportPage
        pageLayout=@pageLayout
        registerChapter=@registerChapter
        registerSection=@registerSection
        addPage=@addPage
        checkIfComplete=@checkIfComplete
        triggerRerender=@triggerRerender
      )
      meta=(hash
        chapters=this.chapterMetaWithoutToc
        chaptersIncludingTableOfContents=this.chapterMeta
      )
    )
  }}
</div>
