<h1>Quick Start</h1>

<p>
  Printable Pages enables the declarative definition of a document and then
  it manages the layout for you. A Printable Pages 'document' consists of 
  one or more chapters with page headers &amp; footers and body sections.
</p>

<p>
  See the <LinkTo @route='demo'>Demo</LinkTo> for an interactive demo.
</p>

<h2>Simplest Implementation</h2>
<DocsDemo as |demo|>
  <demo.example @name="getting-started-1" class="hidden">
    <PrintablePages as |document|>
      <document.chapter as |chapter|>
        <chapter.page-header>Header content</chapter.page-header>
        <chapter.section>Some content here</chapter.section>
        <chapter.section>Some other content here</chapter.section>
        <chapter.page-footer>Footer content</chapter.page-footer>
      </document.chapter>
    </PrintablePages>
  </demo.example>

  <demo.snippet @name="getting-started-1" @language="hbs" />
</DocsDemo>

<h2>Repeating Content</h2>
<p>
  Many documents have repeating content. The section component has the ability
  to iterate over content by passing an array into @data.
</p>

<DocsDemo as |demo|>
  <demo.example @name="getting-started-2" class="hidden">
    <PrintablePages as |document|>
      <document.chapter as |chapter|>
        <chapter.section @data={{range 1 10}} as |section|>
          Item {{section.data}}
        </chapter.section>
      </document.chapter>
    </PrintablePages>
  </demo.example>

  <demo.snippet @name="getting-started-2" @language="hbs" />
</DocsDemo>

<h2>Multiple Columns</h2>
<p>
  To render sections over multiple columns use the @columnCount property
  of a section.
</p>

<DocsDemo as |demo|>
  <demo.example @name="getting-started-3" class="hidden">
    <PrintablePages as |document|>
      <document.chapter as |chapter|>
        <chapter.section @data={{range 1 10}} @columnCount={{3}} as |section|>
          Item {{section.data}}
        </chapter.section>
      </document.chapter>
    </PrintablePages>
  </demo.example>

  <demo.snippet @name="getting-started-3" @language="hbs" />
</DocsDemo>
