<h1>Introduction</h1>

<p>Printable Pages aims to make the creation and maintenance of beautiful, paginated documents easy.</p>

<h2>Features</h2>

<ul class="styled-list">
  <li>Define your document using the declarative power of handlebars</li>
  <li>Reuse your existing components</li>
  <li>Include page headers and footers</li>
  <li>Define document and/or chapter title pages</li>
  <li>Supports multicolumn layouts</li>
  <li>Easy to test</li>
  <li>Progressive rendering (users see progress as pages are generated)</li>
  <li>Makes it easy to provide an in-app preview</li>
</ul>
