<h1>Installation</h1>

<p>To install Ember Printable Pages, run</p>

<DocsDemo as |demo|>
  <demo.example @name="install-snippet" @class="hidden">
    ember install ember-printable-pages
  </demo.example>

  <DocsSnippet @name="install-snippet" @language="sh" />
</DocsDemo>
