<h1>Installation</h1>

<p>To install Ember Printable Pages, run</p>

{{#docs-demo as |demo|}}
  {{#demo.example name="install-snippet" class="hidden"}}
    ember install ember-printable-pages
  {{/demo.example}}

  {{docs-snippet name="install-snippet" language="sh"}}
{{/docs-demo}}
