<h1>Limitations</h1>

<h2>Browser Print Menus</h2>
<p>
  Browsers do not consistently support many css features when printing.
  This addon provides some sensible defaults which work well in
  most cases for modern browsers.
</p>
<p>
  <em><b>It is important that the user set margins and scale 'default' in the print menu</b></em>.
  This is not controllable via js or css.
</p>

<h2>Sections with lots of text</h2>
<p>
  The initial use cases for this addon did not require handling sections with
  large blocks of text. If the text is larger than a page then the text will
  overflow the page and be hidden. This use case will get supported eventually.
  To track progress see <a href="https://github.com/forge512/ember-printable-pages/issues/12">Issue #12</a>.
</p>


