<h1>Rerendering</h1>

<p>
  If you are building a customizable document or a document which receives regular
  data updates, then triggering a rerender of the entire document can be necessary.
</p>

<p>
  There are a few ways to trigger a full document rerender.

  <ul class="styled-list">
    <li>Modifying the array passed into @data</li>
    <li>Changing @columnCount</li>
    <li>Changing any prop passed into PrintablePages</li>
  </ul>
</p>

